/* The CSS file for all of the styles for the Spotify Challenge */

body {
  padding:10px;
}

.form-control.ng-invalid.ng-touched {
	border:1px solid #f00;
}

li {
	list-style-type: none;
}

.artistList {
	margin-top: 5em;
}

.artistPic {
	display: block;
}

#warning {
	color: #f00;
}

img {
	width: 50%;
}

.artistName {
	font-weight: bold;
	margin-bottom: 10px;
}

.guessButton {
	width: 100%;
	height: 100px;
	white-space: normal;
}

h1 {
	text-align: center;
}

.moreButtons {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 30px;
}

#notAvailable {
	text-align: center;
}

#albumPic {
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	body {
		font-size: 18px;
	}

	h1 {
		text-align: center;
		font-size: 42px;
	}

	h2 {
		font-size: 36px;
	}
}