body {
  padding:10px;
}

.form-control.ng-invalid.ng-touched {
	border:1px solid #f00;
}

#artistList {
	list-style-type: none;
}

.artistList {
	margin-top: 5em;
}

.artistPic {
	display: block;
}

#warning {
	color: #f00;
}

img {
	height: 25%;
	width: 25%;
}

.artistName {
	font-weight: bold;
}

.guessButton {
	width: 50%;
	height: 100px;
}

h1 {
	text-align: center;
}

#playAgain {
	margin-top: 20px;
}

#notAvailable {
	text-align: center;
}

button {
	white-space: normal;
}