<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spotify Trivia</title>
		
		<!-- Include libraries -->
		<script src="https://code.jquery.com/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		
		<!-- Read scripts -->
		<script src="js/app.js"></script>
		<link href="css/app.css" type="text/css" rel="stylesheet"/>	

		<link rel="icon" href="img/2000px-Question_Mark.svg.png">
		
	</head>

	<body>
		<!-- Initiate app -->
		<div ng-app="myApp" ng-controller="myCtrl">
			<div>
				<!-- Form -->
				<form class="container" name="songForm" ng-hide="search">
					<div class="form-group">
						<label>Artist search:</label>
						<input name="search" placeholder="Enter an artist name..." ng-model="track" required class="form-control"></input>
						<p id="warning" ng-show="songForm.search.$invalid && songForm.search.$touched">Please enter an artist name.</p>
						<label>Enter the abbreviation for your country:</label>
						<input name="country" placeholder="US, MX, FR, etc..." ng-model="country" required class="form-control" ng-maxlength="2" ng-minlength="2">
						<p id="warning" ng-show="songForm.country.$invalid && songForm.country.$touched">Please enter a proper abbreviation for your country.</p>
					</div>
					<div class="form-group">
						<button ng-disabled="songForm.$invalid" class="btn btn-primary" ng-click="getArtists(0); reset()" type="submit">Search</button>
					</div>
				</form>
				
				<!-- Results -->
				<div ng-show="artists" class="container-fixed">
					<h2>Click on an image to select the artist.</h2>
					<div class="help-block">
						<span ng-show="currentSong && !audioObject.paused">(playing)</span>
					</div>
					<ul>
						<li ng-repeat="artist in artists">
							<p ng-model="name">{{artist.name}}</p>
							<img ng-click="getTopSongs(artist.id)" src="{{artist.images[0].url}}"></img>
						</li>
					</ul>
					<button type="submit" ng-show="number>19" ng-click="previous()">Previous</button>
					<button type="submit" ng-show="data.length==20" ng-click="more()">Next</button>
				</div>

				<div ng-show="playSong" class="container-fixed">
					<button type="submit" ng-click="play(playSong.preview_url)">Play Song</button><br>
					<label>Guess the song:</label>
					<button type="submit" ng-click="checkGuess(song.name)" ng-model="song" ng-repeat="song in songOptions">{{song.name}}</button><br>
					<div ng-show="success">
						<h3>Correct!</h3>
						<p>That song was {{playSong.name}}, by </p>
						<p ng-repeat="name in playSong.artists">{{name.name}}</p>
						<img src="{{playSong.album.images[0].url}}">
					</div>
					<button type="submit" ng-click="getTopSongs(artistID)">Try again with same artist?</button>
					<button type="submit" ng-click="getRelatedArtists(artistID)">Try again with a similar artist?</button>
				</div>
			</div>
		</div>
	</body>
</html>