<!-- This is the main HTML file for the Spotify Challenge. It uses angular to allow people to guess on a random song by a specified artist, and then give them options to guess more based on related. -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spotify Trivia</title>
		
		<!-- Include libraries -->
		<script src="https://code.jquery.com/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		
		<!-- Read scripts -->
		<script src="js/app.js"></script>
		<link href="css/app.css" type="text/css" rel="stylesheet"/>	

		<link rel="icon" href="img/2000px-Question_Mark.svg.png">
		
	</head>

	<body>
		<!-- Initiate app -->
		<div ng-app="myApp" ng-controller="myCtrl">		
			<!-- Form where a user enters the name of an artist, and the country the user lives in -->
			<form class="container" name="songForm" ng-hide="!search">
				<div class="form-group">
					<h1>Spotify Trivia</h1>
					<label for="search">Artist Search:</label>
					<input id="search" name="search" placeholder="Enter an artist name..." ng-model="track" required class="form-control"></input>
					<p id="warning" ng-show="songForm.search.$invalid && songForm.search.$touched">Please enter an artist name.</p>
					<label for="country">Enter the abbreviation for your country:</label>
					<input id="country" name="country" placeholder="US, MX, FR, etc..." ng-model="country" required class="form-control" ng-maxlength="2" ng-minlength="2">
					<p id="warning" ng-show="songForm.country.$invalid && songForm.country.$touched">Please enter a proper abbreviation for your country.</p>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-disabled="songForm.$invalid" class="btn btn-primary" ng-click="getArtists(0); reset()" type="submit">Search</button>
				</div>
			</form>
			
			<!-- Displays the artists retrieved from the input -->
			<div ng-show="artists && search == false && notAvailable == false" class="container">
				<h1>Click on an image to select the artist.</h1>
				<ul id="artistList">
					<li class="artistList" ng-repeat="artist in artists">
						<label for="{{artist.name}}" ng-click="getTopSongs(artist.id)" ng-model="name">{{artist.name}}</label>
						<img ng-show="{{artist.images[0]}}" id="{{artist.name}}" class="artistPic" ng-click="getTopSongs(artist.id)" src="{{artist.images[0].url}}"></img>
						<img id="{{artist.name}}" class="artistPic" ng-show="{{artist.images[0] === undefined}}" ng-click="getTopSongs(artist.id)" src="img/No_Image_Available.png"></img>
					</li>
				</ul>
				<button class="btn btn-primary" type="submit" ng-show="number>19" ng-click="previous()">Previous</button>
				<button class="btn btn-primary" type="submit" ng-show="data.length==20" ng-click="more()">Next</button>
				<button class="btn btn-primary" type="submit" ng-click="search = true">Back to Search</button>
			</div>

			<!-- Shows up only if the top songs from an artist are unavailable in the specified country -->
			<div ng-show="notAvailable" class="container" id="notAvailable">
				<h1>This artist's songs are not available in the country you specified.</h1>
				<button class="btn btn-primary col-sm-3" type="submit" ng-click="notAvailable = false; search = true">Back to Search</button>
			</div>
			
			<!-- Shows up when a song is playing, and allows the user to guess which song it is. It then gives the option for the user to listen to another song by the artist(s) that sang the previous one, or listen to a song by related artists. -->
			<div ng-show="playSong && search == false" class="container">
				<h1 ng-hide="success || fail">Guess the Song</h1>
				<h1 ng-show="success">Correct!</h1>
				<h1 ng-show="fail">Sorry...</h1>
				<button ng-hide="success || fail" class="guessButton btn btn-primary" type="submit" ng-click="checkGuess(song.name)" ng-model="song" ng-repeat="song in songOptions">{{song.name}}</button><br>
				<div class="container moreButtons">
					<div class="col-sm-4">
						<button id="playAgain" class="btn btn-info" type="submit" ng-click="play(playSong.preview_url); play(playSong.preview_url)">Play Again</button>
					</div>
					<div class="col-sm-4">
						<button class="btn btn-info" type="submit" ng-click="getRelatedArtists(artistID); play(playSong.preview_url)" ng-show="success || fail">Try again with a similar artist</button>
					</div>
					<div class="col-sm-4">
						<button class="btn btn-info" type="submit" ng-click="search = true; play(playSong.preview_url)" ng-show="success || fail">Back to Search</button>
					</div>
				</div>
				<div ng-show="success || fail">
					<p>That song was <b>{{playSong.name}}</b>, by: </p>
					<ul>
						<li class="artistName" ng-repeat="name in playSong.artists" ng-click="getTopSongs(name.id); play(playSong.preview_url)">{{name.name}}</li>
					</ul>	
					<p>(Click an artist's name to hear another song by that artist)</p>
					<img id="albumPic" src="{{playSong.album.images[0].url}}">
				</div>
			</div>	
		</div>
	</body>
</html>